@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
    background-color: black;
    cursor: default;
}

.App{
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/spotty.jpg');
    background-position-y: 50px;
}

h1{
    color: white;
    font-weight: normal;
    font-family: 'Barrio', cursive;
    font-size: 4em;
    margin-left: 10px;
}

#header{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
}

.headB{
    align-items: stretch;
    display: flex;
    cursor: pointer;
}

.headB h2{
    color: white;
    font-family: 'Barrio', cursive;
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .5em;
    margin-right: .5em;
    font-weight: normal;
}

.headB:hover h2{
    font-weight: bold;
}

#lowerRegion{
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 2em;
    padding: 2em;
}

.txarea{
    color: white;
}

.txarea h3{
    font-family: 'Barrio', cursive;
    font-weight: normal;
    font-size: 3em;
}

.txarea p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 1.3em;
    margin-top: .3em;
}

.filmButton{
    margin-top: 2em;
    margin-left: 35%;
    width: 30%;
}

@media all and (min-width:0px) and (max-width: 800px) {
    .filmButton{
        width: 90%;
        margin-left: 5%;
    }

    .txarea p{
        font-size: 1em;
    }
  }